# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & export files (optional or keep samples)
data/*.tmp
*.log

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.swp
